<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testng.xml">
	  <classes>
	<class name="testrunner.LandingPage_TestRunner1"/>
	<class name="testrunner.LandingPage_TestRunner2"/>
	<class name="testrunner.LandingPage_TestRunner_Excel"/>
    </classes>
  </test> <!-- Testng.xml -->
</suite> <!-- Suite -->
